@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    user-select: none;
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.timer {
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin: 10px;
    width: 300px;
    background: #000000a2;
    color: white;
    border-radius: 20px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid white;
    background: rgba(16, 30, 55, 0.353);
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.01);
    background: rgb(38, 69, 123);
}
