@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    cursor: pointer;
    user-select: none;
    position: fixed;
    z-index: 1000;
    width: 180px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}



button{
    width: 50px;
    margin: 1px;
    height: 25px;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .3s;
    margin-top: 10px;
    border: 1px solid rgb(111, 111, 111);
}

button:hover{
    transform: scale(1.01);
    box-shadow: rgba(197, 197, 197, 0.35) 0px 5px 15px;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

input{
    width: 150px;
    height: 25px;
    outline: none;
    border: 2px solid black;
    padding: 5px;
}

input:focus{
    border-color: rgb(128, 0, 0);
    outline: red;
}